table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
caption {
  font-size: 1.5rem;
  text-align: center; 
  margin-bottom: 10px;
  font-weight: bold;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
#btnAgregarElemento {
  margin-top: 20px;
  margin-bottom: 20px; /* Añadido para separar el botón del formulario */
  padding: 10px;
  background-color: #ffc2d1;
  color: black;
  border: none;
  cursor: pointer;
}
#btnAgregarElemento:hover {
  background-color: #ffe5ec;
}
#formularioABM {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
#tituloABM {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 20px;
}
label {
  font-weight: bold;
}
.errorInput {
  color: red;
}
input[type="number"],
input[type="text"],
select,
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
select {
  cursor: pointer;
}
#accionesABM {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
#btnAceptar,
#btnCancelar {
  padding: 10px 20px;
  background-color: #ffe5ec;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#btnAceptar {
  color: black;
}
#btnCancelar {
  color: #ff595e;
}

#btnAceptar:hover,
#btnCancelar:hover {
  background-color: #ffc2d1;
}

#spinnerContainer {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

#spinner {
  border: 8px solid #f3f3f3; 
  border-top: 8px solid #ff595e; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}